.font-roboto {
    font-family: 'Poppins', sans-serif;
  }
  
  .rounded-large {
    border-radius: 4rem;
  }
  
  .bg-card {
    background-image: url('https://lh3.googleusercontent.com/gIrG8AMwLDarHJMs68aoBE327dT_O74kyQe5rVddstbe_ndAk5PXSf0UrzCI1PbZlPDhLN0TFWuIb7CkpNuZghX4VRgX3wOjzNeg5axIz8ISTI5CZQ=w1200-rj');
    background-size: cover;
    background-position: center;
  }
  
  .bg-card-b {
    background-image: url('https://lh3.googleusercontent.com/CAW8df0-OQi3LCK0yKewayBIXwGEJl3RceztrFQtQ1uDk-qv1cStc4PlPfscT408dRnqz20f43XkRoIa_5nom0bVJR4VFNF1crJ-6sOnQzbW-DlNrSjF=w1200-rj');
    background-size: cover;
    background-position: center;
  }
  