.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 30px;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 1px 10px 5px rgb(0, 0, 0);

}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    margin-bottom: 10px;
}

.nav-logo p{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(192, 217, 230),rgb(12, 85, 127),rgb(1, 59, 92));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 26px;
    font-weight: 800;
    margin-top: 5px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #0bda76;
    
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

/* .nav-login-cart>button{
    width: 50px;
    height: 20px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    background: rgb(152, 129, 255);
    box-shadow: 0 5px 1px 5px rgb(255, 255, 255);
    transition: all 0.1s;
    cursor: pointer;
} */
.btn-login{
    color: #000;
    background-color: rgb(20, 241, 119);
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-login:hover{
    background-color: slateblue;
    color: white;
    box-shadow: 0px 1px 10px 5px rgb(255, 255, 255);
}

.nav-login-cart button:active{
    transform: translateY(4px); 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.nav-cart-count{
    width: 22px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 10px;
    padding-top: 2px;
    background: red;
    color: white;
}
.login-cart-img{
    color: #000;
    width: 32px;
}